.hero {
    position: relative;
}
#logo {
    width:35%;
    position:fixed;
    top: 45vh;
    transform: translateY(-50%);
    left: 15vw;
}
#mlh-trust-badge {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    
}

body {
    background-image: url(https://i.pinimg.com/1200x/3a/21/e8/3a21e858baff42be71cf57ebe49d3fc4.jpg);
    
}